* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the navbar */
ul {
  list-style-type: none;
}

.ul-bar-container {
  display: flex;
  align-items: center;
}

.ul-bar-container > li {
  flex: 1;
}

.ul-bar-container li:nth-child(2) {
  flex: 10;
}

.ul-bar-container li:nth-child(3) {
  flex: 2;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
}

.input-search {
  width: 100%;
  font-size: 20px;
  padding: 0.2rem;
  border: none;
}

/* End of style navbar */

/* Style cards */

.currency-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}

.card-currency {
  width: 10.5rem;
  height: 12rem;
  border: 1px solid gray;
  padding: 0.3rem;
  text-decoration: none;
  cursor: pointer;
}

/* Style each card */
.currency-logo {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0.5rem auto;
}

.general-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.currency-name {
  font-size: 17px;
}

.symbol {
  font-size: 14px;
}

.arrow-container svg {
  display: block;
  margin-left: auto;
  margin-top: 0.5rem;
  font-size: 20px;
}
